<!DOCTYPE html>
<html lang="en">
<html>
<head>
<link rel="stylesheet" href="../static/css/formCss.css">
<meta name="viewport" content-type="width=device-width initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=11s">
</head>
<body>
{% block off %}{%endblock off%}
<div id="navBar_header">
<div id="logo">
    {%block logo%}{%endblock logo%}
</div>
<ul id="navBar">
    <li><a href="{{url_for('index')}}">Run Command</a></li>
    <li><a href="{{url_for('run_process')}}">Start Process</a></li>
    <li><a href="{{url_for('delete')}}">Delete Files</a></li>
</ul>
</div>

<div style="position:absolute;" class="customContain">

    <form id="signup" style="float: left" method="post">

        <div class="header">

            <h3>{%block header%}{%endblock header%}</h3>

            <p>{%block description%}{%endblock description%}</p>

        </div>

        <div class="sep"></div>

        <div class="inputs">
            {% block content %}

            {% endblock content %}
        </div>

    </form>
<div>
<div id="console_bar">
<h4 style="padding-top:10px;padding-bottom:10px;">Console</h4>
{% if errors %}
    {% for er in errors %}
    <h6>{{er}}</h6></br>
    {% endfor %}
{% endif %}

<!--                {% with messages = get_flashed_messages() %}-->
<!--                        {% if messages %}-->
<!--                        {% for message in messages %}-->
<!--                            <h5>{{message}}</h5>-->
<!--                        {% endfor %}-->
<!--                    {% endif %}-->
<!--                {% endwith %}-->

<!--<pre>{%block sidebar%}{%endblock sidebar%}</pre>-->
</div>
</div>
</div>

</body>
</html>
​