<!DOCTYPE html>
<html lang="en">
<html>
<head>
<!--    <meta http-equiv="refresh" content="3">-->
    <link rel="stylesheet" href="../static/css/formCss.css">
    <link rel="stylesheet" href="../static/css/execute_css.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <meta name="viewport" content-type="width=device-width initial-scale=1">
<script>
function myFunction() {
  var profile_scr = prompt("Please enter profile ID");
  if (profile_scr != null) {
    document.getElementById("profile_run").value = profile_scr
  }
}
</script>
</head>
<body>
<form method="post">
<button id="off" type="submit" name="off_name" value="off"></button>
</form>

<div id="sidenavNEW">
    {% for profile in profiles %}
    <a href='../execute/{{profile}}'>{{profile}}</a>
    {% endfor %}
    <a style="font-size: 70px;" href="{{url_for('add_profile')}}">+</a>
</div>
<div id="navBar_header">
<div style="padding-left:240px;" id="logo">
    <img style="margin-left:0px;padding-left:0px;" src="../static/img/executeimg.png" alt="Image" height="100" width="100"/>
</div>
<ul id="navBar">
    <li><a href="{{url_for('index')}}">Run Command</a></li>
    <li><a href="{{url_for('run_process')}}">Start Process</a></li>
    <li><a href="{{url_for('delete')}}">Delete Files</a></li>
</ul>
</div>


<div class="indexContain">
<form style="display: inline-block;" method="post">
<div style="display: inline-block;" class="button_cont">
    <button id="profile_run" class="example_d" type="submit" name="click_run" onclick="myFunction()">Schedule Run</button>
</div>
<div class="time">
    <input type="text" name="time_run" {% if schedule_execute_var %} value="{{schedule_execute_var[-1]}}" {% endif %}} placeholder="22:30" />
</div>
<div class="kill">
    <button id="schedule1" type="submit" name="kill_run" value="schedule1"></button>
</div><br/>


<div style="display: inline-block;" class="button_cont">
    <button class="example_d" type="submit" name="click_start" value="schedule2">Schedule Start</button>
</div>
<div class="time">
    <input type="text" name="time_start" {% if schedule_start_var %} value="{{schedule_start_var[-1]}}" {% endif %}} placeholder="01:30" />
</div>
<div class="kill">
    <button id="schedule2" type="submit" name="kill_start" value="schedule2"></button>
</div><br/>


<div style="display: inline-block;" class="button_cont">
    <button class="example_d" type="submit" name="click_delete" value="schedule3">Schedule Delete</button>
</div>
<div class="time">
    <input type="text" name="time_delete" {% if schedule_delete_var %} value="{{schedule_delete_var[-1]}}" {% endif %}} placeholder="22:30" />
</div>
<div class="kill">
    <button id="schedule3" type="submit" name="kill_delete" value="schedule3"></button>
</div><br/>
</form>
</div>


<div style="margin-top: 160px;" id="console_bar">
<h4 style="padding-top:10px;padding-bottom:10px;">Console</h4>
{% if errors %}
    {% for er in errors %}
    <h6>{{er}}</h6></br>
    {% endfor %}
{% endif %}

</div>
</div>
</div>

</body>

</html>
