{% extends "base.html" %}
{%block logo%}
<img src="../static/img/deleteImage.png" alt="Image" height="100" width="100"/>
{%endblock logo%}

{%block content%}
{% if bookmarks_del %}
    {% for i in bookmarks_del %}
        {% set name = "name"+ loop.index|string %}
        {% set url = "url"+ loop.index|string %}
        {% set idval1 = "idval1"+ loop.index|string %}
        {% set idval2 = "idval2"+ loop.index|string %}
        {% set deleteIMG = "deleteIMG"+ loop.index|string %}
        {% set deleteIMGval = "deleteIMGval"+ loop.index|string %}
        {% set loopCountVal = loop.index|string %}
        {% for x,y in i.items() %}
            <input style="width: 180px;" id="{{idval1}}" type="text" placeholder="e-mail" class="type1" value="{{x}}" name="{{name}}" readonly/> &nbsp &nbsp
            <input id="{{idval2}}" type="text" placeholder="text" value="{{y}}" name="{{url}}" readonly/> &nbsp &nbsp
            <label style="display: inline-block" class="checkboxy">
                <input type="checkbox" checked="checked" name="check">
				<span class="checkmark"></span>
            </label>&nbsp &nbsp
			</br>
			<div class="sep"></div></br>
        {% endfor %}
    {% endfor %}
{% endif %}
            <input style="width: 180px;" id="idval_add1" type="text" placeholder="Enter Name" class="type1" name="name_add" /> &nbsp &nbsp
            <input id="idval_add2" type="text" placeholder="Enter Path" name="url_add" /> &nbsp &nbsp
			</br>
			<div class="sep"></div></br>
            <button class="button_save" id="add_file" type="submit" name="add_file" value="saveButton"></button>

{%endblock%}
{%block sidebar%}
{%endblock%}