<!DOCTYPE html>
<html lang="en">
<html>
<head>
<link rel="stylesheet" href="../static/css/formCss.css">
<link rel="stylesheet" href="../static/css/execute_css.css">
<meta name="viewport" content-type="width=device-width initial-scale=1">
</head>
<body>

<div id="sidenavNEW">
    {% for profile in profiles %}
    <a href='../execute/{{profile}}'>{{profile}}</a>
    {% endfor %}
    <a style="font-size: 70px;" href="{{url_for('add_profile')}}">+</a>
</div>
<div id="navBar_header">
<div style="padding-left:240px;" id="logo">
    <img style="margin-left:0px;padding-left:0px;" src="../static/img/executeimg.png" alt="Image" height="100" width="100"/>
</div>
<ul id="navBar">
    <li><a href="{{url_for('index')}}">Run Command</a></li>
    <li><a href="{{url_for('run_process')}}">Start Process</a></li>
    <li><a href="{{url_for('delete')}}">Delete Files</a></li>
</ul>
</div>
<div class="customContain">

    <form id="signup" style="float: left;margin-left:250px;" method="post">

        <div class="header">

            <h3>{{profile_id}}</h3>

            <p></p>

        </div>

        <div class="sep"></div>
        <div class="inputs">
            <input style="width: 307px;" id="idval_add1" type="text" placeholder="Enter profile name" class="type1" name="name_add_pro" /> &nbsp &nbsp
			</br>
			<div class="sep"></div></br>
            <button class="button_save" id="add_file" type="submit" name="add_file" value="saveButton"></button>
        </div>

    </form>
<div>
<div style="overflow-y:auto;overflow-x:auto;" id="console_bar">
<h4 style="padding-top:10px;padding-bottom:10px;">Console</h4>
{% if errors %}
    {% for er in errors %}
    <h6>{{er}}</h6></br>
    {% endfor %}
{% endif %}

</div>
</div>
</div>

</body>
</html>
