<!DOCTYPE html>
<html lang="en">
<html>
<head>
<!--    <meta http-equiv="refresh" content="3">-->
    <link rel="stylesheet" href="../static/css/formCss.css">
    <link rel="stylesheet" href="../static/css/execute_css.css">
    <meta name="viewport" content-type="width=device-width initial-scale=1">
</head>
<body>
<form method="post">
<button id="off1" type="submit" name="off3_name" value="off"></button>
</form>
<div id="sidenavNEW">
    {% for profile in profiles %}
    <a href='../execute/{{profile}}'>{{profile}}</a>
    {% endfor %}
    <a style="font-size: 70px;" href="{{url_for('add_profile')}}">+</a>
</div>
<div id="navBar_header">
<div style="padding-left:240px;" id="logo">
    <img style="margin-left:0px;padding-left:0px;" src="../static/img/executeimg.png" alt="Image" height="100" width="100"/>
</div>
<ul id="navBar">
    <li><a href="{{url_for('index')}}">Run Command</a></li>
    <li><a href="{{url_for('run_process')}}">Start Process</a></li>
    <li><a href="{{url_for('delete')}}">Delete Files</a></li>
</ul>
</div>
<div class="customContain">

    <form id="signup" style="float: left;margin-left:250px;" method="post">

        <div class="header">

            <h3>{{profile_id}}</h3>

            <p></p>

        </div>

        <div class="sep"></div>
        <div class="inputs">
{% if bookmarks_exe %}
    {% for i in bookmarks_exe %}
        {% set name = "name"+ loop.index|string %}
        {% set repeat = "name"+ loop.index|string %}
        {% set url = "url"+ loop.index|string %}
        {% set idval1 = "idval1"+ loop.index|string %}
        {% set idval2 = "idval2"+ loop.index|string %}
        {% set idval3 = "idval2"+ loop.index|string %}
        {% set deleteIMG = "deleteIMG"+ loop.index|string %}
        {% set deleteIMGval = "deleteIMGval"+ loop.index|string %}
        {% set loopCountVal = loop.index|string %}
        {% set checkclicked = "check"+ loop.index|string %}
        {% set loopcount = loop.index|int - 1 %}
        {% for x,y in i.items() %}
            {% if x==profile_id %}
                {% for ind in y %}
                    <textarea rows='5' cols='150' id="{{idval2}}" type="text" name="{{url}}" style="width:750px">{{ind}}</textarea>&nbsp &nbsp
                    <label style="display: inline-block;" class="checkboxy">
                        <input type="checkbox" checked="checked" name="{{checkclicked}}">
                        <span class="checkmark"></span>
                    </label>&nbsp &nbsp
                    <button class="button_delete" id="{{deleteIMG}}" type="submit" name="{{deleteIMGval}}" value="{{loopCountVal}}"></button>
                    {% if pass_fail %}
                        {% if profile_id in pass_fail[-1] %}
                            {% if pass_fail|length > loopcount %}
                                <p style="position:relative;text-align:center;" id="onval" >{{pass_fail[loopcount][profile_id]}}</p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </br>
                    <div class="sep"></div></br>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endif %}
            <button class="button_add" id="add_file" type="submit" name="addName" value="addButton"></button>
            <button class="button_save" id="add_all_url" type="submit" name="add_all_url" value="save_all"></button>
            <p style="display:inline-block;margin-right:2px;">Stop execution on failure</p>
            <label style="display: inline-block;" class="checkboxy">
                <input type="checkbox" name="click_all">
                <span class="checkmark"></span>
            </label>&nbsp &nbsp
            <input id="submit" type="submit" name="deleteClicked" value="R u n" >
        </div>

    </form>
<div>
<div style="overflow-y:auto;overflow-x:auto;margin-top:183px;" id="console_bar">
<h4 style="padding-top:10px;padding-bottom:10px;">Console</h4>
{% if errors %}
    {% for er in errors %}
    <h6>{{er}}</h6></br>
    {% endfor %}
{% endif %}

</div>
</div>
</div>

</body>

</html>
